
:root {
  --branding-color: #fc7e91;
  --secondary-color: #ffd3da;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins",  sans-serif;
}

body {
  font-family: var(--default-font-family);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font-family);
    color: black;
    font-weight: bold;
}

h1 {
  font-size: 96px;
  line-height: 1.5;
}

h2 {
  font-size: 64px;
}

small {
  font-size: 19px;
  opacity: 0.8;
  color: #232121;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.navbar-color {
  background: var(--secondary-color);
  opacity: 0.7;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero h2 {
  font-weight: normal;
  font-size: 24px;
  font-family: var(--default-font-family);
  line-height: 1.5;
}

.about-section {
  margin-top: 100px;
}

.about-section h1{
  font-size: 64px;
  line-height: 80px;
}

.about-section h2 {
 font-size: 18px;
 font-family: var(--default-font-family);
}

.about-section img {
  float: right;
  border-radius: 10px;
  max-width: 600px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color:white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;

}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.whale-project {
  width: 500px;
  margin-left: 80px;
}

.project-description {
  padding: 120px 60px;
}

.btn:hover {
  color: var(--secondary-color);
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 2;
  }

  h2 {
    font-size: 44px;
  }

  .hero {
    padding: 80px 20px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  .navbar-color {
    opacity: 1;
  }
}