
:root {
  --branding-color: #fc7e91;
  --secondary-color: #ffd3da;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins",  sans-serif;
}

body {
  font-family: var(--default-font-family);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font-family);
    color: black;
    font-weight: bold;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 64px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

small {
  font-size: 19px;
  opacity: 0.8;
  color: #232121;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero h2 {
  font-weight: normal;
  font-size: 24px;
  font-family: var(--default-font-family);
  line-height: 2;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color:white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;

}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}